<h1>{{title}}</h1>

<ul>
    <li>Sport: {{sport}}</li>
    <li>Sport Place: {{sportPlace}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Instructor: {{instructor}}</li>
    <li>Date: {{date}}</li>
    <li>Start Time: {{startTime}}</li>
    <li>End Time: {{endTime}}</li>
    <li>Rating: {{rating}}</li>
    <li>Number of Student: {{n}}</li>
</ul>

<h3>List of Student:</h3>
<dl>
    <div id="userList">
        {{#if n}}
        {{#each users}}
        <dt>ID: {{userID}}</dt>
        <dd>Name: {{userFirstName}}, {{userLastName}}</dd>
        {{/each}}
        {{else}}
        <p>There are no student for this class...</p>
        {{/if}}
    </div>
</dl>

<a href="/admin/classes">Back</a>