<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<label for="add">Add New Class:</label>
<button type="button" id="expand">Add</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/classes" method="post" id="class-form">
        <label for="titleInput">Title:</label>
        <br>
        <input type="text" id="titleInput" name="titleInput" value="{{classTitle}}" />
        <br>

        <label for="sportInput">Sport:</label>
        <br>
        <select id="sportInput" , name="sportInput">
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="sportPlaceInput">Sport Places:</label>
        <br>
        <select id="sportPlaceInput" , name="sportPlaceInput">
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="capacityInput">Capacity:</label>
        <br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{capacity}}" min="1" />
        <br>

        <label for="instructorInput">Instructor:</label>
        <br>
        <input type="text" id="instructorInput" name="instructorInput" value="{{instructor}}" />
        <br>

        <label for="priceInput">Price:</label><br>
        <input type="number" id="priceInput" name="priceInput" value="{{Price}}" min="0" />
        <br>

        <label for="dateInput">Date:</label>
        <br>
        <input type="date" id="dateInput" name="dateInput" value="{{date}}" />
        <br>

        <label for="startTimeInput">Start Time:</label>
        <br>
        <input type="time" id="startTimeInput" name="startTimeInput" value="{{startTime}}" />
        <br>

        <label for="endTimeInput">End Time:</label>
        <br>
        <input type="time" id="endTimeInput" name="endTimeInput" value="{{endTime}}" />
        <br>

        <input type="submit" value="Submit" />
    </form>
</div>

<h3>List of Classes:</h3>
<div id="classList">
    <ul>
        {{#each classes}}
        <li><a href="/admin/classes/{{classID}}">{{className}}</a></li>
        {{/each}}
    </ul>
</div>