<header>
    <nav class="navbar">
        <a href="/admin/classes">Back</a>
    </nav>
</header>

<h1>{{name}}</h1>

<div>
    {{#if thumbnail}}
    <img class="thumbnail" src="{{thumbnail}}" alt="{{name}}">
    {{else}}
    <img class="thumbnail" src="/public/images/No_Image_Available.jpg" alt="{{name}}">
    {{/if}}
</div>

<ul>
    <li>Sport: {{sport}}</li>
    <li>Sport Place: {{sportPlace}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Instructor: {{instructor}}</li>
    <li>Price: {{price}}</li>
    <li>Date: {{date}}</li>
    <li>Start Time: {{startTime}}</li>
    <li>End Time: {{endTime}}</li>
    <li>Rating: {{rating}}</li>
    <li>Number of Student: {{n}}</li>
</ul>

<label>Edit Class:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/classes/{{id}}" method="post" id="class-form">
        <label for="titleInput">Title:</label><br>
        <input type="text" id="titleInput" name="titleInput" value="{{classTitle}}" />
        <br>

        <label for="sportIDInput">Sport:</label><br>
        <select id="sportIDInput" name="sportIDInput">
            <option value="{{sportID}}">{{sportName}}</option>
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="sportPlaceIDInput">Sport Places:</label><br>
        <select id="sportPlaceIDInput" name="sportPlaceIDInput">\
            <option value="{{sportPlaceID}}">{{sportPlaceName}}</option>
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="instructorInput">Instructor:</label><br>
        <input type="text" id="instructorInput" name="instructorInput" value="{{newInstructor}}" />
        <br>

        <label for="capacityInput">Capacity:</label><br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{newCapacity}}" min="1" />
        <br>

        <label for="priceInput">Price:</label><br>
        <input type="number" id="priceInput" name="priceInput" value="{{newPrice}}" min="0" />
        <br>

        <label for="dateInput">Date:</label><br>
        <input type="date" id="dateInput" name="dateInput" value="{{newDate}}" />
        <br>

        <label for="startTimeInput">Start Time:</label><br>
        <input type="time" id="startTimeInput" name="startTimeInput" value="{{newStartTime}}" />
        <br>

        <label for="endTimeInput">End Time:</label><br>
        <input type="time" id="endTimeInput" name="endTimeInput" value="{{newEndTime}}" />
        <br>

        <label for="thumbnailInput">Thumbnail URL:</label>
        <br>
        <input type="url" id="thumbnailInput" name="thumbnailInput" value="{{newThumbnail}}" />
        <br>

        <input type="submit" value="Save" />
    </form>
</div>

<form action="/admin/classes/remove/{{id}}" method="get">
    <label for="remove">Remove Class:</label>
    <button type="submit" id="remove">Remove</button>
</form>

<h3>List of Student:</h3>
<div id="userList">
    {{#if n}}
    <dl>
        {{#each users}}
        <dt>ID: {{userID}}</dt>
        <dd>Name: {{userFirstName}}, {{userLastName}}</dd>
        {{/each}}
    </dl>
    {{else}}
    There are no student for this class...
    {{/if}}
</div>