<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/instructor">Instructors</a>
        <a class="active" href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/timeSlot">Slots</a>
        <a href="/admin/allVenue">Reserved Venue</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>
<script>
    function filterplaces(id) {
        //sportplace 
        var sportsPlacesArr = document.getElementById("sportplaceIDInput");
        var sportsPlacesArrFiltered = document.getElementById("sportplaceIDInput1");
        for (var i = 0; i < sportsPlacesArrFiltered.options.length; i++) {
            if (sportsPlacesArrFiltered.options[i].innerText != '-') {
                sportsPlacesArrFiltered.remove(i);
            }
        }

        for (var i = 0; i < sportsPlacesArr.options.length; i++) {
            if (id == sportsPlacesArr.options[i].className) {
                var myoption = document.createElement('option');
                myoption.value = sportsPlacesArr.options[i].value;
                myoption.innerHTML = sportsPlacesArr.options[i].innerText;
                sportsPlacesArrFiltered.appendChild(myoption);
            }
        }
        //instructor
        var instructorsArr = document.getElementById("instructorInput");
        var instructorsArrFiltered = document.getElementById("instructorInput1");
        for (var i = 0; i < instructorsArrFiltered.options.length; i++) {
            if (instructorsArrFiltered.options[i].innerText != '-') {
                instructorsArrFiltered.remove(i);
            }
        }

        for (var i = 0; i < instructorsArr.options.length; i++) {
            if (id == instructorsArr.options[i].className) {
                var myoption = document.createElement('option');
                myoption.value = instructorsArr.options[i].value;
                myoption.innerHTML = instructorsArr.options[i].innerText;
                instructorsArrFiltered.appendChild(myoption);
            }
        }
    }
</script>

<h1>{{title}}</h1>

<h2>We have {{n}} classes.</h2>

<label>Add New Class:</label>
<button type="button" id="expand">Add</button>


<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/classes" method="post" id="class-form">
        <label for="titleInput">Title:</label>
        <br>
        <input type="text" id="titleInput" name="titleInput" value="{{classTitle}}" />
        <br>

        <label for="sportIDInput">Sport:</label>
        <br>
        <select id="sportIDInput" name="sportIDInput" onchange="filterplaces(this.value)">
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>


        <label>Sport Places:</label>
        <br>
        <select id="sportplaceIDInput" name="sportplaceIDInput" hidden>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}" class="{{sportId1}}">{{name}}</option>
            {{/each}}
        </select>
        <select id="sportplaceIDInput1" name="sportplaceIDInput1">
            <option value="">-</option>
        </select>

        {{!-- <select id="sportPlaceIDInput" name="sportPlaceIDInput">
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}">{{name}}</option>
            {{/each}}
        </select> --}}
        <br>

        <label>Instructor:</label>
        <br>
        <select id="instructorInput" name="instructorInput" hidden>
            {{#each instructors}}
            <option value="{{instructorID}}" class="{{sportId1}}">{{instructorName}}</option>
            {{/each}}
        </select>
        <select id="instructorInput1" name="instructorInput1">
            <option value="">-</option>
        </select>
        <br>

        {{!-- <label for="instructorInput">Instructor:</label>
        <br>
        <input type="text" id="instructorInput" name="instructorInput" value="{{instructor}}" />
        <br> --}}

        <label for="capacityInput">Capacity:</label>
        <br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{capacity}}" min="1" />
        <br>

        <label for="priceInput">Price:</label><br>
        <input type="number" id="priceInput" name="priceInput" value="{{price}}" min="0" />
        <br>

        <label for="dateInput">Date:</label>
        <br>
        <input type="date" id="dateInput" name="dateInput" value="{{date}}" />
        <br>

        <label for="startTimeInput">Start Time:</label>
        <br>
        <input type="time" id="startTimeInput" name="startTimeInput" value="{{startTime}}" />
        <br>

        <label for="endTimeInput">End Time:</label>
        <br>
        <input type="time" id="endTimeInput" name="endTimeInput" value="{{endTime}}" />
        <br>

        <input type="submit" value="Submit" />
    </form>
</div>

<p>-----------------------------------------------------------------------</p>

<h3>List of Classes:</h3>
<div id="classList">
    {{#if classes}}
    <ul>
        {{#each classes}}
        <li><a href="/admin/classes/{{classID}}">{{className}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>No classes...</p>
    {{/if}}
</div>

<p>-----------------------------------------------------------------------</p>

<h3>List of Passed Classes:</h3>
<div id="passedClassList">
    {{#if passedClasses}}
    <ul>
        {{#each passedClasses}}
        <li><a href="/admin/classes/{{classID}}">{{className}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>No passed classes...</p>
    {{/if}}
</div>