<header>
    <nav class="navbar">
        <a href="/admin/classes">Back</a>
    </nav>
</header>
<script>
    //if (window.location.href.substring(window.location.href.lastIndexOf('/') + 1) != '') {

    //}
    function filterplaces(id) {

        var sportsPlacesArr = document.getElementById("sportplaceIDInput");
        var sportsPlacesArrFiltered = document.getElementById("sportplaceIDInput1");
        var len = sportsPlacesArrFiltered.options.length - 1;
        for (var i = len; i >= 0; i--) {
            if (sportsPlacesArrFiltered.options[i].innerText != '-') {
                sportsPlacesArrFiltered.remove(i);
            }
        }


        for (var i = 0; i < sportsPlacesArr.options.length; i++) {
            if (id == sportsPlacesArr.options[i].className) {

                var myoption = document.createElement('option');
                myoption.value = sportsPlacesArr.options[i].value;
                myoption.innerHTML = sportsPlacesArr.options[i].innerText;
                sportsPlacesArrFiltered.appendChild(myoption);
            }
        }
        var instructorsArr = document.getElementById("instructorInput");
        var instructorsArrFiltered = document.getElementById("instructorInput1");
        for (var i = instructorsArrFiltered.options.length - 1; i >= 0; i--) {
            if (instructorsArrFiltered.options[i].innerText != '-') {
                instructorsArrFiltered.remove(i);
            }
        }

        for (var i = 0; i < instructorsArr.options.length; i++) {
            if (id == instructorsArr.options[i].className) {
                var myoption = document.createElement('option');
                myoption.value = instructorsArr.options[i].value;
                myoption.innerHTML = instructorsArr.options[i].innerText;
                instructorsArrFiltered.appendChild(myoption);
            }
        }
    }
    var e = document.getElementById('expand');
    e.attachEvent('onclick', function () {
        filterplaces(window.location.href.substring(window.location.href.lastIndexOf('/') + 1));
    });
    document.addEventListener("DOMContentLoaded", function (event) {
        // Your code to run since DOM is loaded and ready

    });

</script>
<h1>{{name}}</h1>

<div>
    {{#if thumbnail}}
    <img class="thumbnail" src="{{thumbnail}}" alt="{{name}}">
    {{else}}
    <img class="thumbnail" src="/public/images/No_Image_Available.jpg" alt="{{name}}">
    {{/if}}
</div>

<ul>
    <li>Sport: {{sport}}</li>
    <li>Sport Place: {{sportPlace}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Instructor: {{instructor}}</li>
    <li>Price: {{price}}</li>
    <li>Date: {{date}}</li>
    <li>Start Time: {{startTime}}</li>
    <li>End Time: {{endTime}}</li>
    <li>Rating: {{rating}}</li>
    <li>Number of Student: {{n}}</li>
</ul>

<p>-----------------------------------------------------------------------</p>

<label>Edit Class:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/classes/{{id}}" method="post" id="class-form">
        <label for="titleInput">Title:</label><br>
        <input type="text" id="titleInput" name="titleInput" value="{{classTitle}}" />
        <br>

        <label for="sportIDInput">Sport:</label><br>
        <select id="sportIDInput" name="sportIDInput" onchange="filterplaces(this.value)">
            <option value="{{sportID}}">{{sportName}}</option>
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label>Sport Places:</label><br>
        {{!-- <select id="sportPlaceIDInput" name="sportPlaceIDInput">
            <option value="{{sportPlaceID}}">{{sportPlaceName}}</option>
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}">{{name}}</option>
            {{/each}}
        </select> --}}

        <select id="sportplaceIDInput" name="sportplaceIDInput" hidden>
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}" class="{{sportId1}}">{{name}}</option>
            {{/each}}
        </select>

        <select id="sportplaceIDInput1" name="sportplaceIDInput1">
            {{!-- <option value="{{sportPlaceID}}" class="">{{sportPlaceName}}</option> --}}
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}" class="{{sportId1}}">{{name}}</option>
            {{/each}}
        </select>
        <br>
        <label for="instructorInput">Instructor:</label><br>
        <select id="instructorInput" name="instructorInput" hidden>
            <option value="">-</option>
            {{#each instructors}}
            <option value="{{instructorID}}" class="{{sportId1}}">{{instructorName}}</option>
            {{/each}}
        </select>
        <select id="instructorInput1" name="instructorInput1">
            <option value="{{instructorID}}">{{instructorName}}</option>
            <option value="">-</option>
            {{#each instructors}}
            <option value="{{instructorID}}" class="{{sportId1}}">{{instructorName}}</option>
            {{/each}}
        </select>
        <br>

        {{!-- <label for="instructorInput">Instructor:</label><br>
        <input type="text" id="instructorInput" name="instructorInput" value="{{newInstructor}}" />
        <br> --}}

        <label for="capacityInput">Capacity:</label><br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{newCapacity}}" min="1" />
        <br>

        <label for="priceInput">Price:</label><br>
        <input type="number" id="priceInput" name="priceInput" value="{{newPrice}}" min="0" />
        <br>

        <label for="dateInput">Date:</label><br>
        <input type="date" id="dateInput" name="dateInput" value="{{newDate}}" />
        <br>

        <label for="startTimeInput">Start Time:</label><br>
        <input type="time" id="startTimeInput" name="startTimeInput" value="{{newStartTime}}" />
        <br>

        <label for="endTimeInput">End Time:</label><br>
        <input type="time" id="endTimeInput" name="endTimeInput" value="{{newEndTime}}" />
        <br>

        <label for="thumbnailInput">Thumbnail URL:</label>
        <br>
        <input type="url" id="thumbnailInput" name="thumbnailInput" value="{{newThumbnail}}" />
        <br>

        <input type="submit" value="Save" />
    </form>
</div>

<form action="/admin/classes/remove/{{id}}" method="get">
    <label for="remove">Remove Class:</label>
    <button type="submit" id="remove">Remove</button>
</form>

<p>-----------------------------------------------------------------------</p>

<h2>List of Student:</h2>
<div id="userList">
    {{#if n}}
    <ul>
        {{#each students}}
        <li><a href="/admin/users/{{this.userId}}" target=”_blank”>{{this.userFirstName}} {{this.userLastName}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    There are no students for this event...
    {{/if}}
</div>