<header>
    <nav class="navbar">
        <a href="/admin/Events">Back</a>
    </nav>
</header>

<h1>{{name}}</h1>

<ul>
    <li>UserID: {{userID}}</li>
    <li>Description: {{description}}</li>
    <li>Sport: {{sport}}</li>
    <li>Sport Place: {{sportPlace}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Date: {{date}}</li>
    <li>StartTime: {{startTime}}</li>
    <li>EndTime: {{endTime}}</li>
    <li>Number of Participants: {{n}}</li>
</ul>

<form action="/admin/events/remove/{{id}}" method="get">
    <label for="remove">Remove Event:</label>
    <button type="submit" id="remove">Remove</button>
</form>

<h3>List of Participants:</h3>
<div id="userList">
    {{#if n}}
    <ul>
        {{#each participants}}
        <li><a href="/admin/users/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    There are no participants for this event...
    {{/if}}
</div>