<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<h3>List of Unapproved Events:</h3>
<div id="unapprovedEventList">
    <ul>
        {{#each unapprovedEvents}}
        <li><a href="/admin/events/{{eventID}}">{{eventName}}</a></li>
        {{/each}}
    </ul>
</div>

<h3>List of All Events:</h3>
<div id="eventList">
    <ul>
        {{#each events}}
        <li><a href="/admin/events/{{eventID}}">{{eventName}}</a></li>
        {{/each}}
    </ul>
</div>