{{!--

login form handlebar template

--}}

<h1>{{title}}</h1>


<label for="add">Add New Sport:</label>
<button type="button" id="add">Add</button>

<form action="/admin/sports" method="post" id="add-form" {{hidden}}>
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" name="nameInput" value="{{name}}" />
    <br>

    <input type="submit" value="Submit" />
</form>

<div id="error" class="error" {{hidden}}>{{error}}</div>


<h3>List of Sports:</h3>
<div id="sportList">
    {{#each sports}}
    <input type="checkbox" id="{{sportID}}" name="{{sportName}}" value="{{sportName}}">
    <label for="{{sportID}}">
        <a href="/admin/sports/{{sportID}}">{{sportName}}</a>
    </label>
    <br>
    {{/each}}
</div>

<br>
<a href="/admin/home">Home</a>