<header>
    <nav class="navbar">
        <a href="/admin/sportPlaces">Back</a>
    </nav>
</header>

<h1>{{name}}</h1>

<div>
    {{#if thumbnail}}
    <img class="thumbnail" src="{{thumbnail}}">
    {{else}}
    <img class="thumbnail" src="/public/images/No_Image_Available.jpg">
    {{/if}}
</div>

<ul>
    <li>Sport: {{sport}}</li>
    <li>Address: {{address}}</li>
    <li>Description: {{description}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Price: {{price}}</li>
    <li>Rating: {{rating}}</li>
    <li>Number of Users: {{n}}</li>
</ul>

<label for="edit">Edit Sport Place:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/sportPlaces/{{id}}" method="post" id="sportPlace-form">
        <label for="nameInput">Name:</label><br>
        <input type="text" id="nameInput" name="nameInput" value="{{newName}}" />
        <br>

        <label for="sportIDInput">Sport:</label><br>
        <select id="sportIDInput" , name="sportIDInput">
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="addressInput">Address:</label><br>
        <input type="text" id="addressInput" name="addressInput" value="{{newAddress}}" />
        <br>

        <label for="descriptionInput">Description:</label><br>
        <textarea id="descriptionInput" name="descriptionInput" value="{{newDescription}}">{{newDescription}}</textarea>
        <br>

        <label for="capacityInput">Capacity:</label><br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{newCapacity}}" min="1" />
        <br>

        <label for="priceInput">Price:</label><br>
        <input type="number" id="priceInput" name="priceInput" value="{{newPrice}}" min="0" />
        <br>

        <label for="thumbnailInput">Thumbnail URL:</label>
        <br>
        <input type="url" id="thumbnailInput" name="thumbnailInput" value="{{newThumbnail}}" />
        <br>

        <input type="submit" value="Save" />

    </form>
</div>

<form action="/admin/sportPlaces/remove/{{id}}" method="get">
    <label for="remove">Remove Sport Place:</label>
    <button type="submit" id="remove">Remove</button>
</form>

<h3>List of Users:</h3>
<dl>
    <div id="userList">
        {{#if n}}
        {{#each users}}
        <dt>ID: {{userID}}</dt>
        <dd>Name: {{userFirstName}}, {{userLastName}}</dd>
        {{/each}}
        {{else}}
        <p>There are no users for this sport place...</p>
        {{/if}}
    </div>
</dl>