<header>
    <nav class="navbar">
        <a href="/admin/sports">Back</a>
    </nav>
</header>

<h1>{{name}}</h1>

<label for="edit">Edit Sport:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/sports/{{id}}" method="post" id="sport-form">
        <label for="nameInput">Name:</label>
        <br>
        <input type="text" id="nameInput" name="nameInput" value="{{newName}}" />
        <br>
        <input type="submit" value="Save" />
    </form>
</div>