<h1>{{title}}</h1>

<p>Sport: {{sport}}</p>
<p>address: {{address}}</p>
<p>Description: {{description}}</p>
<p>Capacity: {{capacity}}</p>
<p>Price: {{price}}</p>

<a href="/admin/sportPlaces">Back</a>