<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<h3>We have {{n}} users.</h3>

<label for="add">Add New Sport:</label>
<button type="button" id="expand">Add</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/sports" method="post" id="sport-form">
        <label for="nameInput">Name:</label>
        <br>
        <input type="text" id="nameInput" name="nameInput" value="{{name}}" />
        <br>
        <input type="submit" value="Submit" />
    </form>
</div>


<h3>List of Sports:</h3>
<div id="sportList">
    <ul>
        {{#each sports}}
        <li><a href="/admin/sports/{{sportID}}">{{sportName}}</a></li>
        {{/each}}
    </ul>
</div>