<header>
    <nav class="navbar">
        <a href="/admin/sports">Back</a>
    </nav>
</header>

<h1>{{name}}</h1>

<div>
    {{#if thumbnail}}
    <img class="thumbnail" src="{{thumbnail}}" alt="{{name}}">
    {{else}}
    <img class="thumbnail" src="/public/images/No_Image_Available.jpg" alt="{{name}}">
    {{/if}}
</div>

<label>Edit Sport:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/sports/{{id}}" method="post" id="sport-form">
        <label for="nameInput">Name:</label>
        <br>
        <input type="text" id="nameInput" name="nameInput" value="{{newName}}" />
        <br>

        <label for="thumbnailInput">Thumbnail URL:</label>
        <br>
        <input type="text" id="thumbnailInput" name="thumbnailInput" value="{{newThumbnail}}" />
        <br>

        <input type="submit" value="Save" />
    </form>
</div>


<form action="/admin/sports/remove/{{id}}" method="get">
    <label for="remove">Remove Sport:</label>
    <button type="submit" id="remove">Remove</button>
</form>