<h1>{{title}}</h1>

<ul>
    <li>Sport: {{sport}}</li>
    <li>Address: {{address}}</li>
    <li>Description: {{description}}</li>
    <li>Capacity: {{capacity}}</li>
    <li>Price: {{price}}</li>
    <li>Rating: {{rating}}</li>
    <li>Number of Users: {{n}}</li>
</ul>

<h3>List of Users:</h3>
<dl>
    <div id="userList">
        {{#if n}}
        {{#each users}}
        <dt>ID: {{userID}}</dt>
        <dd>Name: {{userFirstName}}, {{userLastName}}</dd>
        {{/each}}
        {{else}}
        <p>There are no users for this sport place...</p>
        {{/if}}
    </div>
</dl>

<a href="/admin/sportPlaces">Back</a>