<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/timeSlot">Slots</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<h2>We have {{n}} sport places.</h2>

<label for="add">Add New Sport Place:</label>
<button type="button" id="expand">Add</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/sportPlaces" method="post" id="sportPlace-form">
        <label for="nameInput">Name:</label>
        <br>
        <input type="text" id="nameInput" name="nameInput" value="{{name}}" />
        <br>

        <label for="sportIDInput">Sport:</label>
        <br>
        <select id="sportIDInput" , name="sportIDInput">
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="addressInput">Address:</label>
        <br>
        <input type="text" id="addressInput" name="addressInput" value="{{address}}" />
        <br>

        <label for="descriptionInput">Description:</label>
        <br>
        <textarea id="descriptionInput" name="descriptionInput" value="{{description}}">{{description}}</textarea>
        <br>

        <label for="capacityInput">Capacity:</label>
        <br>
        <input type="number" id="capacityInput" name="capacityInput" value="{{capacity}}" min="1" />
        <br>

        <label for="priceInput">Price:</label>
        <br>
        <input type="number" id="priceInput" name="priceInput" value="{{price}}" min="0" />
        <br>

        <input type="submit" value="Submit" />

    </form>
</div>


<h3>List of Sport Places:</h3>
<div id="sportPlaceList">
    <ul>
        {{#each sportPlaces}}
        <li><a href="/admin/sportPlaces/{{sportPlaceID}}">{{sportPlaceName}}</a></li>
        {{/each}}
    </ul>
</div>