<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a class="active" href="/admin/timeSlot">Slots</a>
        <a href="/admin/allVenue">Reserved Venue</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header><script>

    function filterplaces(id) {
        //  alert(sportPlaces[0]["sportPlaceName"]);
        //var temp = [];
        var sportsPlacesArr = document.getElementById("sportplaceIDInput");
        var sportsPlacesArrFiltered = document.getElementById("sportplaceIDInput1");

        for (var i = 0; i < sportsPlacesArrFiltered.options.length; i++) {
            if (sportsPlacesArrFiltered.options[i].innerText != '-') {
                sportsPlacesArrFiltered.remove(i);
            }
        }


        // debugger;
        for (var i = 0; i < sportsPlacesArr.options.length; i++) {
            if (id == sportsPlacesArr.options[i].className) {
                //temp.push({ "Id": sportsPlacesArr.options[i].value, "Name": sportsPlacesArr.options[i].innerText });
                var myoption = document.createElement('option');
                myoption.value = sportsPlacesArr.options[i].value;
                myoption.innerHTML = sportsPlacesArr.options[i].innerText;
                sportsPlacesArrFiltered.appendChild(myoption);
            }
        }
        //console.log(temp);
        //sportsPlacesArrFiltered.options = temp;
        // for(var i=0;i<)
    }
     function filterplaces1(id) {
        //  alert(sportPlaces[0]["sportPlaceName"]);
        //var temp = [];
        var sportsPlacesArr = document.getElementById("sportplaceIDInputs");
        var sportsPlacesArrFiltered = document.getElementById("sportplaceIDInput1s");

        for (var i = 0; i < sportsPlacesArrFiltered.options.length; i++) {
            if (sportsPlacesArrFiltered.options[i].innerText != '-') {
                sportsPlacesArrFiltered.remove(i);
            }
        }


        // debugger;
        for (var i = 0; i < sportsPlacesArr.options.length; i++) {
            if (id == sportsPlacesArr.options[i].className) {
                //temp.push({ "Id": sportsPlacesArr.options[i].value, "Name": sportsPlacesArr.options[i].innerText });
                var myoption = document.createElement('option');
                myoption.value = sportsPlacesArr.options[i].value;
                myoption.innerHTML = sportsPlacesArr.options[i].innerText;
                sportsPlacesArrFiltered.appendChild(myoption);
            }
        }
        //console.log(temp);
        //sportsPlacesArrFiltered.options = temp;
        // for(var i=0;i<)
    }
    function setMinDate() {
        var dateInput = document.getElementById("dateInput");
        var d = new Date();
        if (dateInput) {

            dateInput.setAttribute('min', new Date().toISOString().split("T")[0]);
        }
    }
</script>

<h1>{{title}}</h1>

<label >Add Time Slot:</label>
<button type="button" id="expand" onclick="setMinDate()">Add</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/admin/timeSlot" method="post" id="timeslot-form">

        <label for="sportIDInput">Select Sport:</label><br>
        <select id="sportIDInput"  name="sportIDInput" onchange="filterplaces(this.value)">
            <option value="">-</option>
            {{#each sports}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="sportplaceIDInput1">Select Sport Place:</label><br>
        <select id="sportplaceIDInput"  name="sportplaceIDInput" hidden>
            <option value="">-</option>
            {{#each sportPlaces}}
            <option value="{{sportPlaceID}}" class="{{sportId1}}">{{sportPlaceName}}</option>
            {{/each}}
        </select>
        <select id="sportplaceIDInput1"  name="sportplaceIDInput1">
            <option value="">-</option>

        </select>
        <br>

        <label for="dateInput">Select Date:</label>
        <br>
        <input type="date" id="dateInput" name="dateInput" value="{{date}}" >
        <br>

        <label for="slotInput">Select Slot:</label>
        <select name="slotInput" id="slotInput">
            <option value="">-</option>
            <option value="1">12:00AM to 08:00AM</option>
            <option value="2">08:00AM to 04:00PM</option>
            <option value="3">04:00PM to 12:00AM</option>
        </select>
        <br>

        <input type="submit" value="Submit" >
    </form>
</div>
<div>
    <p>-----------------------------------------------------------------------</p>
    <h2>Get Slot Details</h2>
     <form action="/admin/searchSlot" method="post" id="timeslot-form1">

        <label for="sportIDInputS">Select Sport:</label><br>
        <select id="sportIDInputS"  name="sportIDInputS" onchange="filterplaces1(this.value)">
            <option value="">-</option>
            {{#each sportsearchs}}
            <option value="{{sportID}}">{{name}}</option>
            {{/each}}
        </select>
        <br>

        <label for="sportplaceIDInput1s">Select Sport Place:</label><br>
        <select id="sportplaceIDInputs"  name="sportplaceIDInputs" hidden>
            <option value="">-</option>
            {{#each sportPlacessearches}}
            <option value="{{sportPlaceID}}" class="{{sportId1}}">{{sportPlaceName}}</option>
            {{/each}}
        </select>
        <select id="sportplaceIDInput1s"  name="sportplaceIDInput1s">
            <option value="">-</option>

        </select>
        <br>

        <label for="dateInputs">Select Date:</label>
        <br>
        <input type="date" id="dateInputs" name="dateInputs" value="{{datesearch}}" >
        <br>      

        <input type="submit" value="Search Slot" >
    </form>
</div>
<div>
{{#if isempty1}}
<p>No, timeslot added.</p>
{{else}}
<div class="centertitle">
    <p>==============================================================================</p>
    <table>
        <tr>           
            <th>Slot Timing</th>
            <th>Availability</th>         
        </tr>

        {{#each venueListsearch}}
        <tr>           
            <td> {{this.slotName}}</td>
            <td>{{this.status}}</td>   
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}
</div>