<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<h3>We have {{n}} users.</h3>

<h3>List of Users:</h3>
<div id="userList">
    <ul>
        {{#each users}}
        <li><a href="/admin/users/{{userID}}">{{userFirstName}} {{userLastName}}</a></li>
        {{/each}}
    </ul>
</div>