<h1>{{title}}</h1>

<ul>
    <li>First Name: {{firstName}}</li>
    <li>Last Name: {{lastName}}</li>
    <li>Email: {{email}}</li>
    <li id="gender" value="{{gender}}">Gender: {{gender}}</li>
    <li>Date Of Birth: {{dateOfBirth}}</li>
    <li>Contact Number: {{contactNumber}}</li>
</ul>


<br>
<a href="/admin/users">Back</a>