<header>
    <nav class="navbar">
        <a href="/admin/users">Back</a>
    </nav>
</header>

<h1>{{title}}</h1>

<ul>
    <li>First Name: {{firstName}}</li>
    <li>Last Name: {{lastName}}</li>
    <li>Email: {{email}}</li>
    <li id="gender" value="{{gender}}">Gender: {{gender}}</li>
    <li>Date Of Birth: {{dateOfBirth}}</li>
    <li>Contact Number: {{contactNumber}}</li>
</ul>

<form action="/admin/users/{{id}}" method="post">
    <input type="submit" id="remove" name="remove" value="Remove" />
</form>