<h1>{{title}}</h1>

{{#if authenticated}}

  <h2>Welcome Back! {{firstName}}</h2>

  <a href="/profile">Profile</a>

  <a href="/logout">Logout</a>

{{else}}

  <a href="/register">Register</a>

  <a href="/login">Login</a>

{{/if}}

<div>
  <div class="cards">
    {{#each sports}}
      <div class="card">
        <img src={{this.thumbnail}} alt="{{name}} Image" style="width:100%" />
        <div class="container">
          <h4><b>{{this.name}}</b></h4>
        </div>
      </div>
    {{/each}}
  </div>
</div>