<header>
  <nav class="navbar">
    <a href="/" class="logo">Sportify</a>
    {{#if authenticated}}
    <a href="/myevents">My Events</a>
    <a href="/myclasses">My Classes</a>
    <a href="/myVenue">My Venue</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>

    {{else}}

    <a href="/register">Register</a>

    <a href="/login">Login</a>

    {{/if}}
  </nav>
</header>

{{#if authenticated}}
<h1>Welcome Back! {{firstName}}</h1>

<div id="cardsdiv">
  <div class="cards">
    {{#each sports}}
    <div class="card">
      {{#if this.thumbnail}}
      <img src="{{this.thumbnail}}" alt="{{this.name}}" style="width:100%" />
      {{else}}
      <img src="/public/images/No_Image_Available.jpg" alt="{{this.name}}" style="width:100%" />
      {{/if}}
      <div class="container">
        <h2><a class="cardlink" href="/events/{{this.name}}">{{this.name}}</a></h2>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<h2 id="error-msg"></h2>

<div id="cardsdiv">
  <div class="cards">
    {{#each sports}}
    <div class="card">
      {{#if this.thumbnail}}
      <img src="{{this.thumbnail}}" alt="{{this.name}}" style="width:100%" />
      {{else}}
      <img src="/public/images/No_Image_Available.jpg" alt="{{this.name}}" style="width:100%" />
      {{/if}}
      <div class="container">
        <h2><a class="cardlink err" href="/events/{{this.name}}">{{this.name}}</a></h2>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}