<header>
  <nav class="navbar">
    <a href="/" class="logo">Sportify</a>
    <a class="active" href="/myevents">MyEvents</a>
    <a href="/myclasses">MyClasses</a>
    <a href="/myVenue">MyVenue</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </nav>
</header>

<h1 class="centertitle">My Joined Events:</h1>
{{#if joined}}
<div class="centertitle">
  <p>==============================================================================</p>
  {{#each joinedEvents}}
  <table>
    <tr>
      <th>Event Name</th>
      <th>Sport</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Chat</th>
      <th>Quit</th>
    </tr>
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.sport}}</td>
      <td>{{this.sportPlace}}</td>
      <td>{{this.date}}</td>
      <td>
        <a class="manageevent" href="/commentbox/{{this._id}}" style="color: #5b00a2;" target=”_blank”>
          Chat
        </a>
      </td>
      <td>
        <a class="manageevent" href="/events/{{this._id}}/deregisteruser/{{this.tempUid}}" style="color: #830000;">
          Quit
        </a>
      </td>
    </tr>
  </table>
  {{/each}}
</div>
{{else}}
<p>Sorry! You have not joined any events yet.</p>
{{/if}}

<br>
<h1 class="centertitle">My Created Events:</h1>
{{#if isempty}}
<p>Sorry! You have not created any events yet.</p>
{{else}}
<div class="centertitle">
  <p>==============================================================================</p>
  {{#each myevents}}

  <table>
    <tr>
      <th>Event Name</th>
      <th>Sport</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Capacity : {{this.capacity}}</th>
      <td>
        <a href="/updateevent/{{this._id}}" class="manageevent" style="color: #0b4900;">
          Update Event
        </a>
      </td>
    </tr>
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.sport}}</td>
      <td>{{this.sportPlace}}</td>
      <td>{{this.date}}</td>
      <td>
        <a class="manageevent togglelist" style="color: #5b00a2;">
          See Participants List
        </a>
      </td>
      <td>
        <a class="manageevent" href="/removeevents/{{this._id}}" style="color: #830000;">
          Delete Event
        </a>
      </td>
    </tr>
  </table>

  <div style="display:none" class="participantlist">
    <h2>Participants List:</h2>
    {{#if this.members}}
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>D.O.B</th>
        <th>Contact No.</th>
        <th></th>
      </tr>

      {{#each this.memberdetails}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.dateOfBirth}}</td>
        <td>{{this.contactNumber}}</td>
        <td>
          <a class="manageevent" href="/events/{{../this._id}}/deregisteruser/{{this._id}}" style="color: #830000;">
            Remove
          </a>
        </td>
      </tr>
      {{/each}}
    </table>
    {{else}}
    <p>No Participants yet!</p>
    {{/if}}
  </div>
  {{/each}}
</div>
{{/if}}

<br>
<h1 class="centertitle">My Passed Events:</h1>
{{#if passed}}
<div class="centertitle">
  <p>==============================================================================</p>
  {{#each passedEvents}}
  <table>
    <tr>
      <th>Event Name</th>
      <th>Sport</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.sport}}</td>
      <td>{{this.sportPlace}}</td>
      <td>{{this.date}}</td>
    </tr>
  </table>
  {{/each}}
</div>
{{else}}
<p>Sorry! You have no passed events yet.</p>
{{/if}}