<header>
    <nav class="navbar">
        <a href="/">Back</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
<script>
    function formpost(id) {

        var form = document.getElementById("myForm");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "updateRating/" + id);


        form.submit();
    }
</script>
<h1 class="centertitle">My Reserved Venue</h1>
{{#if isempty}}
<p>No, Venue is Booked yet.</p>
{{else}}
<div class="centertitle">
    <p>==============================================================================</p>
    <table>
        <tr>
            <th>Sport</th>
            <th>Venue Name</th>
            <th>Booking Date</th>
            <th>Timing</th>
            <th>Address</th>
            <th>Description</th>
            <th>Price</th>
            <th>Capacity</th>
        </tr>

        {{#each venueList}}
        <tr>
            <td>{{this.sportName}}</td>
            <td>{{this.sportPlaceName}}</td>
            <td>{{this.Date}}</td>
            <td> {{this.slotName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.capacity}}</td>
            <td>
                <a href="/deleteVenue/{{this.id}}/del/{{this.Date}}" style="color: #ff7f7f;">
                    Delete Reservation
                </a>
            </td>

        </tr>
        {{/each}}
    </table>
</div>
{{/if}}

<h1 class="centertitle">Past Reserved Venue</h1>
{{#if isemptyold}}
<p>No, Venue is Booked in past.</p>
{{else}}
<form id="myForm">
    <div class="centertitle">
        <p>==============================================================================</p>
        <table>
            <tr>
                <th>Sport</th>
                <th>Venue Name</th>
                <th>Booking Date</th>
                <th>Timing</th>
                <th>Address</th>
                <th>Description</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Rating</th>
            </tr>

            {{#each venuelistold}}
            <tr>
                <td>{{this.sportName}}</td>
                <td>{{this.sportPlaceName}}</td>
                <td>{{this.Date}}</td>
                <td> {{this.slotName}}</td>
                <td>{{this.address}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.capacity}}</td>
                <td>
                    <label for="ratingInput"></label>
                    <input type="number" id="ratingInput" name="ratingInput" value="{{ratingV}}" min="1" max="5">
                </td>
                <td>
                    <input type="submit" value="Update Rating" onclick="formpost('{{this.sportPlaceID}}')">

                </td>

            </tr>
            {{/each}}
        </table>
    </div>
</form>
{{/if}}