<header>
    <nav class="navbar">
        <a href="/">Back</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<ul>
    <li>First Name: {{firstName}}</li>
    <li>Last Name: {{lastName}}</li>
    <li>Email: {{email}}</li>
    <li>Gender: {{gender}}</li>
    <li>Date Of Birth: {{dateOfBirth}}</li>
    <li>Contact Number: {{contactNumber}}</li>
</ul>


<label>Edit Profile:</label>
<button type="button" id="expand">Edit</button>

<div id="error" class="error" {{hidden}}>{{error}}</div>
<div id="form" class="form" {{hidden}}>
    <form action="/profile" method="post" id="user-info-form">

        <label for="firstNameInput">First Name:</label><br>
        <input type="text" id="firstNameInput" name="firstNameInput" value="{{newFirstName}}" />
        <br>

        <label for="lastNameInput">Last Name:</label><br>
        <input type="text" id="lastNameInput" name="lastNameInput" value="{{newLastName}}" />
        <br>

        <label for="emailInput">Email:</label><br>
        <input type="email" id="emailInput" name="emailInput" value="{{newEmail}}" />
        <br>

        <label for="dateOfBirthInput">Date Of Birth:</label><br>
        <input type="date" id="dateOfBirthInput" name="dateOfBirthInput" value="{{newDateOfBirth}}" />
        <br>

        <label for="contactNumberInput">Contact Number:</label><br>
        <input type="text" id="contactNumberInput" name="contactNumberInput" value="{{newContactNumber}}" />
        <br>

        <label for="genderInput">Gender:</label><br>
        <select id="genderInput" name="genderInput">
            {{#if newGender}}
            <option value="{{newGender}}">{{newGender}}</option>
            {{/if}}
            <option value="">-</option>
            {{#each genderOptions}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>

        <label for="passwordInput">New Password:</label><br>
        <input type="password" id="passwordInput" name="passwordInput" />
        <br>

        <label class="hint">Password Hint:</label><br>
        <ul id="password-hint">
            <li class="hint">Should be a minimum of 8 characters long</li>
            <li class="hint">Should contain at least one uppercase character</li>
            <li class="hint">Should contain at least one lowercase character</li>
            <li class="hint">Should contain at least one special character</li>
        </ul>

        <label for="confirmPasswordInput">Confirm Password:</label><br>
        <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" />
        <br>

        <input type="submit" value="Save" />
    </form>
</div>