<header>
    <nav class="navbar">
        <a href="/" class="logo">Sportify</a>

        <a href="/events/{{sport}}">Events</a>
        <a href="/classes/{{sport}}">Classes</a>
        <a href="/venue/{{sport}}">Reserve Venue</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>

    </nav>
</header>
<h1>{{title}}</h1>
<h2>List of Venues For : {{sport}}</h2>
<form id="venue-form">
    {{#each venues}}
    <div class="bgcard">
        <div class="info">
            <div class="bgimg" style="background-image: url({{this.thumbnail}})"></div>
            <ul class="info-list">
                <li class="location">Location : {{this.address}}</li>
                <li> Price : {{this.price}}</li>
                <li> Rating : {{this.rating}}</li>
            </ul>
        </div>
        <div class="textDetails">
            <h1>{{this.name}}</h1>
            <p>{{this.description}}</p>
            <p class="joinLink">
                <a href="/venueInfo/{{this._id}}"> Reserve Venue </a>
                {{!-- <input type="submit" value="Reserve Venue"> --}}
                <a style="color: red;">Capacity:
                    {{this.capacity}}
                </a>
            </p>
        </div>
    </div>

    <div id="error" class="error" {{hidden}}>{{error}}</div>
    {{else}}
    <p>Sorry!<br /> No Venue found for {{sport}}.</p>
    {{/each}}
</form>